@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 0 #000;
  padding: 2rem;
}
.input__group {
  margin-bottom: 1rem;
}
.input__group input {
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  outline: none;
}
.input__group:not-last-child {
  border: 0;
}
.btn__group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.btn {
  width: 100%;
  outline: none;
  border: 0;
  padding: 10px 0;
  background: #3da9fc;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1rem;
}
